.row
  .col-xs-2
    - if @group
      .fa.fa-sitemap
      = _('Group')
      %br
      %h4= @group
      = succeed ':' do
        = _('Inspectors')
      %ul
        - @group.inspectors.each do |inspector|
          %li= inspector
  .col-xs-2
    - if @user
      .fa.fa-user
      = _('User')
      %br
      %h4= @user
  .col-xs-6
    .fa.fa-calendar
    = _('Budget period')
    %br
    = render partial: 'procurement/budget_periods/phases', locals: {budget_period: budget_period}
  .col-xs-2
    - if @user.nil? and @group and @group.inspectable_by?(current_user)
      .label.label-success.budget_limit
        - budget_limit_amount = @group.budget_limits.find_by(budget_period_id: budget_period.id).try(:amount)
        = money_without_cents_and_with_symbol budget_limit_amount
      %br

    .label.label-primary.big_total_price
      - total_price = requests.map(&:total_price).sum
      = money_without_cents_and_with_symbol total_price

    - if budget_limit_amount.to_i > 0
      .label.label-default
        = succeed '%' do
          = total_price.to_i * 100 / budget_limit_amount.to_i

    - unless requests.blank?
      :ruby
        csv_path = if @user and @group.nil?
            user_budget_period_requests_path(@user, budget_period, format: 'csv')
          elsif @group and @user.nil?
            group_budget_period_requests_path(@group, budget_period, format: 'csv')
          else
            nil
          end
      - if csv_path
        %br
        %br
        %a.btn.btn-default.btn-sm{href: csv_path}
          %i.fa.fa-table
          CSV Export
