.row
  .col-xs-3
    - if @group
      .fa.fa-sitemap
      = _('Group')
      %br
      %h4= @group
  .col-xs-3
    - if @user
      .fa.fa-user
      = _('User')
      %br
      %h4= @user
  .col-xs-6
    .fa.fa-calendar
    = _('Budget period')
    %br
    = render partial: 'procurement/budget_periods/phases', locals: {budget_period: budget_period}
