.row
  .col-xs-2
    - if @group
      .fa.fa-sitemap
      = _('Group')
      %br
      %h4= @group
  .col-xs-2
    - if @user
      .fa.fa-user
      = _('User')
      %br
      %h4= @user
  .col-xs-6
    .fa.fa-calendar
    = _('Budget period')
    %br
    = render partial: 'procurement/budget_periods/phases', locals: {budget_period: budget_period}
  .col-xs-2
    - requests = @requests.by_budget_period(budget_period)
    - unless requests.blank?
      .label.label-primary.big_total_price
        = money_without_cents_and_with_symbol requests.map(&:total_price).sum

      :ruby
        csv_path = if @user and @group.nil?
            user_budget_period_requests_path(@user, budget_period, format: 'csv')
          elsif @group and @user.nil?
            group_budget_period_requests_path(@group, budget_period, format: 'csv')
          else
            nil
          end
      - if csv_path
        %br
        %br
        %a.btn.btn-default.btn-sm{href: csv_path}
          %i.fa.fa-table
          CSV Export
