.row
  .col-sm-12
    .row
      .col-sm-3
        .form-group
          %label
            = succeed ':' do
              = _('Model name')
          %br
          = request.model_description
      .col-sm-2
        .form-group
          %label
            = succeed ':' do
              = _('Requested quantity')
          %br
          .label.label-primary
            = request.requested_quantity
      .col-sm-2
        .form-group
          %label
            = succeed ':' do
              = "%s %s %s" % [_('Item price'), MoneyRails.default_currency, _('incl. VAT')]
          %br
          = money_without_cents_and_with_symbol request.price
      .col-sm-2
        .form-group
          %label
            = succeed ':' do
              = _('Name of receiver')
          %br
          = request.receiver
      .col-sm-3
        .form-group
          %label
            = succeed ':' do
              = _('Motivation')
          %br
          = request.motivation

    .row
      .col-sm-3
        .form-group
          %label
            = succeed ':' do
              = _('Supplier')
          %br
          = request.supplier
      .col-sm-2
        .form-group
          %label
            = succeed ':' do
              = _('Approved quantity')
          %br
          - if request.approved_quantity
            :ruby
              state, label_class = state_label(request)
            .label{class: label_class}
              = request.approved_quantity
      .col-sm-2
        .form-group
          %label
            = succeed ':' do
              = "%s %s %s" % [_('Total'), MoneyRails.default_currency, _('incl. VAT')]
          %br
          .label.label-primary.total_price{data: {total: request.total_price(current_user)}}
            = money_without_cents_and_with_symbol request.total_price(current_user)
      .col-sm-2
        .form-group
          %label
            = succeed ':' do
              = _('Department')
          %br
          = request.department
      .col-sm-3
        .form-group
          %label
            = succeed ':' do
              = _('Inspection comment')
          %br
          = request.inspection_comment

    .row
      .col-sm-3
        .form-group
          %label
            = succeed ':' do
              = _('Priority')
          %br
          .label.label-default= _(request.priority)
      .col-sm-2
        .form-group
          %label
            = succeed ':' do
              = _('Order quantity')
          %br
          - if request.approved_quantity and request.order_quantity
            .label{class: label_class}
              = request.order_quantity
      .col-sm-2
        .form-group
          %label
            = succeed ':' do
              = _('State')
          %br
          = render partial: 'state', locals: {request: request}
      .col-sm-2
        .form-group
          %label
            = succeed ':' do
              = _('Attachments')
          %br
          %ul
            - request.attachments.each do |attachment|
              %li
                %a{href: attachment.file.url, target: '_blank'}
                  = attachment.file.original_filename
      .col-sm-3
