.row
  .col-sm-12
    .row
      .col-sm-2
        = request.model_description
      .col-sm-2
        = request.requested_quantity
      .col-sm-2
        = money_without_cents_and_with_symbol request.price
      .col-sm-2
        = render partial: 'status', locals: {request: request}
      .col-sm-2
        = request.receiver
      .col-sm-2
        = request.motivation

    .row
      .col-sm-2
      .col-sm-2
        = request.approved_quantity
      .col-sm-2
      .col-sm-2
      .col-sm-2
        = request.organization_unit
      .col-sm-2
        = request.inspection_comment

    .row
      .col-sm-2
        = request.supplier
      .col-sm-2
        = request.order_quantity
      .col-sm-2
        .label.label-primary.total_price{data: {total: request.total_price}}
          = money_without_cents_and_with_symbol request.total_price
      .col-sm-2
        .label.label-default= _(request.priority)
      .col-sm-2
      .col-sm-2
        %ul
          - request.attachments.each do |attachment|
            %li
              %a{href: attachment.file.url, target: '_blank'}
                = attachment.file.original_filename
