%tr
  -#%td= request.group
  %td= request.description
  %td
    = request.desired_quantity
    %br
    = request.approved_quantity
    %br
    = render partial: 'status', locals: {request: request}
  %td
    = money_without_cents_and_with_symbol request.price
    %br
    = request.total_price
  %td= request.supplier
  %td
    %ul
      - request.attachments.each do |attachment|
        %li
          %a{href: attachment.file.url, target: '_blank'}
            = attachment.file.original_filename
