.row
  .col-sm-12
    %input{type: :hidden, name: "requests[#{request.id}][id]", value: request.id}
    .row
      .col-sm-2
        - if Procurement::RequestTemplate.where(group_id: @group).where(model_description: request.model_description).exists?
          = request.model_description
        - else
          %select.form-control{name: "requests[#{request.id}][model_description]"}
            %option{value: request.model_description, selected: true}= request.model_description
      .col-sm-2
        - if request.user_id == current_user.id
          %input.form-control{name: "requests[#{request.id}][requested_quantity]", type: :number, min: 0, value: request.requested_quantity, placeholder: _('Requested quantity'), autocomplete: :off}
        - else
          = request.requested_quantity
      .col-sm-2
        %input.form-control{name: "requests[#{request.id}][price]", type: :number, min: 0, value: request.price.to_i, placeholder: ("%s %s" % [_('Price'), _('incl. VAT')]), autocomplete: :off}
      .col-sm-2
        = render partial: 'status', locals: {request: request}
      .col-sm-2
        %input.form-control{name: "requests[#{request.id}][receiver]", value: request.receiver, placeholder: _('Receiver')}
      .col-sm-2
        %input.form-control{name: "requests[#{request.id}][motivation]", value: request.motivation, placeholder: _('Motivation'), maxlength: 255}

    .row
      .col-sm-2
      .col-sm-2
        - if request.group.inspectable_by? current_user
          %input.form-control{name: "requests[#{request.id}][approved_quantity]", type: :number, min: 0, value: request.approved_quantity, placeholder: _('Approved quantity'), autocomplete: :off}
        - else
          = request.approved_quantity
      .col-sm-2
      .col-sm-2
      .col-sm-2
        %input.form-control{name: "requests[#{request.id}][organization_unit]", value: request.organization_unit, placeholder: _('Organization unit'), autocomplete: :off}
      .col-sm-2
        - if request.group.inspectable_by? current_user
          %input.form-control{name: "requests[#{request.id}][inspection_comment]", value: request.inspection_comment, placeholder: _('Inspection comment'), maxlength: 255}

    .row
      .col-sm-2
        %select.form-control{name: "requests[#{request.id}][supplier]"}
          %option{value: request.supplier, selected: true}= request.supplier
      .col-sm-2
        - if request.group.inspectable_by? current_user
          %input.form-control{name: "requests[#{request.id}][order_quantity]", type: :number, min: 0, value: request.order_quantity, placeholder: _('Order quantity'), autocomplete: :off}
        - else
          = request.order_quantity
      .col-sm-2
        .label.label-primary.total_price{data: {total: request.total_price}}
          = money_without_cents_and_with_symbol request.total_price
      .col-sm-2
        - if request.user_id == current_user.id
          - ['high', 'medium'].each do |priority|
            %input{type: 'radio', name: "requests[#{request.id}][priority]", value: priority, checked: request.priority == priority}
            .label.label-default= _(priority)
        - else
          .label.label-default= _(request.priority)
      .col-sm-2
      .col-sm-2
        %input{type: :file, name: "requests[#{request.id}][attachments_attributes][][file]", multiple: true}
        %ul
          - request.attachments.each do |attachment|
            %li
              %a{href: attachment.file.url, target: '_blank'}
                = attachment.file.original_filename
