:ruby
  is_editable = ((@budget_period.in_requesting_phase? and (@user == current_user or @group.inspectable_by?(current_user))) or
                 (@budget_period.in_inspection_phase? and @group.inspectable_by?(current_user)))

%h1= _('Requests')

= form_tag nil, remote: true, multipart: true do
  .panel{class: @budget_period.current? ? 'panel-success' : 'panel-default'}
    .panel-heading
      = render partial: 'procurement/budget_periods/header', locals: {budget_period: @budget_period, requests: @requests}

    .panel-body
      - i = 0
      - @requests.each do |request|
        - if request.editable?(current_user)
          = render partial: 'write', locals: {request: request}
        - else
          = render partial: 'read', locals: {request: request}

      - if is_editable
        - already_requested_model_descriptions = @requests.map &:model_description
        - @group.template_categories.each do |template_category|
          - template_category.templates.where.not(model_description: already_requested_model_descriptions).each do |template|
            .row{data: {template_id: template.id}}
              .col-sm-12
                - i += 1
                .row
                  .col-sm-3
                    .form-group
                      %label
                        = succeed ':' do
                          = _('Model name')
                      %br
                      %input{type: 'hidden', name: "requests[new_#{i}][model_description]", value: template.model_description}
                      = template.model_description
                      -#%select.form-control{name: "requests[new_#{i}][model_description]"}
                        %option{value: template.model_description, selected: true}= template.model_description
                  .col-sm-2
                    .form-group
                      %label
                        = succeed ':' do
                          = _('Requested quantity')
                      %br
                      %input.form-control{name: "requests[new_#{i}][requested_quantity]", type: :number, min: 0, placeholder: _('Requested quantity'), autocomplete: :off}
                  .col-sm-2
                    .form-group
                      %label
                        = succeed ':' do
                          = "%s %s %s" % [_('Item price'), MoneyRails.default_currency, _('incl. VAT')]
                      %br
                      %input{type: 'hidden', name: "requests[new_#{i}][price]", value: template.price}
                      = template.price
                      -#%input.form-control{name: "requests[new_#{i}][price]", type: :number, min: 0, value: template.price.to_i, placeholder: ("%s %s" % [_('Item price'), _('incl. VAT')]), autocomplete: :off}
                  .col-sm-2
                    .form-group
                      %label
                        = succeed ':' do
                          = _('Name of receiver')
                      %br
                      %input.form-control{name: "requests[new_#{i}][receiver]", placeholder: _('Name of receiver')}
                  .col-sm-3
                    .form-group
                      %label
                        = succeed ':' do
                          = _('Motivation')
                      %br
                      %input.form-control{name: "requests[new_#{i}][motivation]", placeholder: _('Motivation'), maxlength: 255, data: {toggle: 'tooltip'}, title: _('max 255 characters')}
                .row
                  .col-sm-3
                    .form-group
                      %label
                        = succeed ':' do
                          = _('Supplier')
                      %br
                      %input{type: 'hidden', name: "requests[new_#{i}][supplier]", value: template.supplier}
                      = template.supplier
                  -#%select.form-control{name: "requests[new_#{i}][supplier]"}
                        %option{value: template.supplier, selected: true}= template.supplier
                  .col-sm-2
                    - if @group.inspectable_by?(current_user)
                      .form-group
                        %label
                          = succeed ':' do
                            = _('Approved quantity')
                        %br
                        %input.form-control{name: "requests[new_#{i}][approved_quantity]", type: :number, min: 0, placeholder: _('Approved quantity'), autocomplete: :off}
                  .col-sm-2
                    .form-group
                      %label
                        = succeed ':' do
                          = "%s %s %s" % [_('Total'), MoneyRails.default_currency, _('incl. VAT')]
                      %br
                      .label.label-primary.total_price
                  .col-sm-2
                    .form-group
                      %label
                        = succeed ':' do
                          = _('Department')
                      %br
                      %input.form-control{name: "requests[new_#{i}][department]", placeholder: _('Department')}
                  .col-sm-3
                    - if @group.inspectable_by?(current_user)
                      .form-group
                        %label
                          = succeed ':' do
                            = _('Inspection comment')
                        %br
                        %input.form-control{name: "requests[new_#{i}][inspection_comment]", placeholder: _('Inspection comment'), maxlength: 255, data: {toggle: 'tooltip'}, title: _('max 255 characters')}
                .row
                  .col-sm-3
                    .form-group
                      %label
                        = succeed ':' do
                          = _('Priority')
                      %br
                      %input{type: 'radio', name: "requests[new_#{i}][priority]", value: 'high'}
                      .label.label-default= _('high')
                      %input{type: 'radio', name: "requests[new_#{i}][priority]", value: 'normal', checked: true}
                      .label.label-default= _('normal')
                  .col-sm-2
                    - if @group.inspectable_by?(current_user)
                      .form-group
                        %label
                          = succeed ':' do
                            = _('Order quantity')
                        %br
                        %input.form-control{name: "requests[new_#{i}][order_quantity]", type: :number, min: 0, placeholder: _('Order quantity'), autocomplete: :off}
                  .col-sm-2
                  .col-sm-2
                    .form-group
                      %label
                        = succeed ':' do
                          = _('Attachments')
                      %br
                      %input{type: :file, name: "requests[new_#{i}][attachments_attributes][][file]", multiple: true}
                  .col-sm-3

        .row#new_request
          .col-sm-12
            - i += 1
            .row
              .col-sm-3
                .form-group
                  %label
                    = succeed ':' do
                      = _('Model name')
                  %br
                  %select.form-control{name: "requests[new_#{i}][model_description]"}
              .col-sm-2
                .form-group
                  %label
                    = succeed ':' do
                      = _('Requested quantity')
                  %br
                  %input.form-control{name: "requests[new_#{i}][requested_quantity]", type: :number, min: 0, placeholder: _('Requested quantity'), autocomplete: :off}
              .col-sm-2
                .form-group
                  %label
                    = succeed ':' do
                      = "%s %s %s" % [_('Item price'), MoneyRails.default_currency, _('incl. VAT')]
                  %br
                  %input.form-control{name: "requests[new_#{i}][price]", type: :number, min: 0, placeholder: ("%s %s" % [_('Item price'), _('incl. VAT')]), autocomplete: :off}
              .col-sm-2
                .form-group
                  %label
                    = succeed ':' do
                      = _('Name of receiver')
                  %br
                  %input.form-control{name: "requests[new_#{i}][receiver]", placeholder: _('Name of receiver')}
              .col-sm-3
                .form-group
                  %label
                    = succeed ':' do
                      = _('Motivation')
                  %br
                  %input.form-control{name: "requests[new_#{i}][motivation]", placeholder: _('Motivation'), maxlength: 255, data: {toggle: 'tooltip'}, title: _('max 255 characters')}
            .row
              .col-sm-3
                .form-group
                  %label
                    = succeed ':' do
                      = _('Supplier')
                  %br
                  %select.form-control{name: "requests[new_#{i}][supplier]"}
              .col-sm-2
                - if @group.inspectable_by?(current_user)
                  .form-group
                    %label
                      = succeed ':' do
                        = _('Approved quantity')
                    %br
                    %input.form-control{name: "requests[new_#{i}][approved_quantity]", type: :number, min: 0, placeholder: _('Approved quantity'), autocomplete: :off}
              .col-sm-2
                .form-group
                  %label
                    = succeed ':' do
                      = "%s %s %s" % [_('Total'), MoneyRails.default_currency, _('incl. VAT')]
                  %br
                  .label.label-primary.total_price
              .col-sm-2
                .form-group
                  %label
                    = succeed ':' do
                      = _('Department')
                  %br
                  %input.form-control{name: "requests[new_#{i}][department]", placeholder: _('Department')}
              .col-sm-3
                - if @group.inspectable_by?(current_user)
                  .form-group
                    %label
                      = succeed ':' do
                        = _('Inspection comment')
                    %br
                    %input.form-control{name: "requests[new_#{i}][inspection_comment]", placeholder: _('Inspection comment'), maxlength: 255, data: {toggle: 'tooltip'}, title: _('max 255 characters')}
            .row
              .col-sm-3
                .form-group
                  %label
                    = succeed ':' do
                      = _('Priority')
                  %br
                  %input{type: 'radio', name: "requests[new_#{i}][priority]", value: 'high'}
                  .label.label-default= _('high')
                  %input{type: 'radio', name: "requests[new_#{i}][priority]", value: 'normal', checked: true}
                  .label.label-default= _('normal')
              .col-sm-2
                - if @group.inspectable_by?(current_user)
                  .form-group
                    %label
                      = succeed ':' do
                        = _('Order quantity')
                    %br
                    %input.form-control{name: "requests[new_#{i}][order_quantity]", type: :number, min: 0, placeholder: _('Order quantity'), autocomplete: :off}
              .col-sm-2
              .col-sm-2
                .form-group
                  %label
                    = succeed ':' do
                      = _('Attachments')
                  %br
                  %input{type: :file, name: "requests[new_#{i}][attachments_attributes][][file]", multiple: true}
              .col-sm-3

    .panel-footer
      - if is_editable
        .row
          .col-sm-1{style: 'font-size: 2em'}
            %i.fa.fa-plus-circle
          .col-sm-9
            - @group.template_categories.each do |template_category|
              .btn-group.dropup
                %button.btn.btn-default.dropdown-toggle{type: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: true, expanded: false}}
                  = template_category
                  %span.caret
                %ul.dropdown-menu
                  %li
                    - template_category.templates.where.not(model_description: already_requested_model_descriptions).each do |template|
                      %a.show_template{href: '#', data: {template_id: template.id}}= template

            -#- unless @requests.blank?
              .label.label-primary.big_total_price
                = money_without_cents_and_with_symbol @requests.sum {|r| r.total_price(current_user) }.sum
          .col-sm-2.text-right
            %button.btn.btn-success{type: :submit}
              %i.fa.fa-check
              = _('Save')

:scss
  .panel-footer .fa-plus-circle {
    cursor: pointer;
    color: #5cb85c;
  }

  .panel-body {
    padding-top: 0;

    & > .row:nth-of-type(even) > .col-sm-12 {
      background: #f9f9f9;
    }
    & > .row > .col-sm-12 {
      border-top: 1px solid #cccccc;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      &.delete {
        background: #f2dede;
      }
    }
  }

  #new_request {
    display: none;
  }

  .row[data-template_id] {
    display: none;
  }

:coffeescript
  $(document).ready ->
    $('.panel-footer').on 'click', '.fa-plus-circle', ->
      #target_el = $(this).closest('tfoot').prev('tbody').find('tr:last-child')
      #cloned_el = target_el.clone()
      #cloned_el.find('input').val('')
      #cloned_el.insertAfter(target_el)
      $(this).hide()
      $('#new_request').show()
      false

    $("form").on("ajax:success", (e, data, status, xhr) ->
      location.reload()
    ).on "ajax:error", (e, xhr, status, error) ->
      errors = ''
      for error in xhr.responseJSON
        errors += '<li>' + error + '</li>'
      $("#flash").html '<ul class="alert alert-danger" style="padding-left: 2em;">' + errors + '</ul>'

    #$("select[name*='[group_id]']").select2
    #  minimumInputLength: 0
    #  allowClear: true
    #  placeholder: '#{_("Group")}'

    $("select[name*='[model_description]']").select2
      minimumInputLength: 3
      #allowClear: true
      placeholder: '#{_("Model name")}'
      ajax:
        url: '/procurement/models.json'
        dataType: 'json'
        delay: 250
        data: (params) -> search_term: params.term
        processResults: (data) -> results: $.map data, (item) -> {id: item.name, text: item.name }
        cache: true
      escapeMarkup: (markup) -> markup
      templateResult: (result) -> result.text
      templateSelection: (result) -> result.text
      tags: true

    $("select[name*='[supplier]']").select2
      minimumInputLength: 3
      #allowClear: true
      placeholder: '#{_("Supplier")}'
      ajax:
        url: '/procurement/suppliers.json'
        dataType: 'json'
        delay: 250
        data: (params) -> search_term: params.term
        processResults: (data) -> results: $.map data, (item) -> {id: item.name, text: item.name }
        cache: true
      escapeMarkup: (markup) -> markup
      templateResult: (result) -> result.text
      templateSelection: (result) -> result.text
      tags: true

    $("input[name*='[approved_quantity]']").on 'change', ->
      target_el = $(this).closest('.col-sm-12').find("input[name*='[order_quantity]']")
      if (not target_el.val()) or target_el.val() > $(this).val()
        target_el.val($(this).val())

    $("input[name*='_quantity]'], input[name*='[price]']").on 'change', ->
      order_quantity = $(this).closest('.col-sm-12').find("input[name*='[order_quantity]']").val()
      approved_quantity = $(this).closest('.col-sm-12').find("input[name*='[approved_quantity]']").val()
      requested_quantity = $(this).closest('.col-sm-12').find("input[name*='[requested_quantity]']").val()
      quantity = order_quantity or approved_quantity or requested_quantity
      price_el = $(this).closest('.col-sm-12').find("input[name*='[price]']")
      total = quantity * price_el.val()
      formatted_total = accounting.formatMoney(total, {symbol: 'CHF', format: "%s %v", precision: 0, thousand: "'"})
      $(this).closest('.col-sm-12').find(".total_price").data('total', total).html(formatted_total)
      big_total = 0
      $(".total_price").each ->
        if Number($(this).data('total'))
          big_total += Number($(this).data('total'))
      formatted_big_total = accounting.formatMoney(big_total, {symbol: 'CHF', format: "%s %v", precision: 0, thousand: "'"})
      $(".big_total_price").html(formatted_big_total)

    $("input[name*='requested_quantity]']").on 'change', ->
      if $(this).val() == "0"
        $(this).closest('.col-sm-12').addClass('delete')
      else
        $(this).closest('.col-sm-12').removeClass('delete')

    $("a.show_template").on 'click', ->
      $(this).hide()
      $(this).closest('.dropdown-menu').dropdown('toggle')
      $(".row[data-template_id='" + $(this).data('template_id') + "']").show()
      false

    $('input[data-toggle="tooltip"]').on 'focus', -> $(this).tooltip('toggle')
