= render partial: 'header'

.list-group
  - if @group
    - @requests.group_by(&:user).each_pair do |user, requests|
      %a.list-group-item{href: group_user_requests_path(@group, user, budget_period: params[:budget_period])}
        .row
          .col-xs-4
            = user
          .col-xs-4
            - unless params[:budget_period] == 'past'
              = render partial: 'layouts/procurement/counts', locals: {group: @group, user: user}
          .col-xs-4
            = money_without_cents_and_with_symbol requests.map(&:total_price).sum

  - else
    - Procurement::Group.all.each do |group|
      %a.list-group-item{href: group_user_requests_path(group, current_user, budget_period: params[:budget_period])}
        .row
          .col-xs-4
            = group
          .col-xs-4
            - unless params[:budget_period] == 'past'
              = render partial: 'layouts/procurement/counts', locals: {group: group, user: current_user}
          .col-xs-4
            - requests = @requests.where(group_id: group)
            - unless requests.blank?
              = money_without_cents_and_with_symbol requests.map(&:total_price).sum
