.row
  .col-xs-2
    - if @group
      .fa.fa-sitemap
      = _('Group')
      %br
      %h4= @group
      - if @user
        - if @group.email
          %a{href: "mailto:#{@group.email}"}
            = render partial: 'procurement/groups/inspectors', locals: {group: @group}
        - else
          = render partial: 'procurement/groups/inspectors', locals: {group: @group}

  .col-xs-2
    - if @user
      .fa.fa-user
      = _('User')
      %br
      %h4= @user
  .col-xs-6
    .fa.fa-calendar
    = _('Budget period')
    %br
    %h4= budget_period.name
    - if @user and @group
      = render partial: 'procurement/budget_periods/phases', locals: {budget_period: budget_period}
  .col-xs-2.text-right
    - total_price = requests.map {|r| r.total_price(current_user) }.sum
    - if @user.nil? and @group and @group.inspectable_by?(current_user)
      - budget_limit_amount = @group.budget_limits.find_by(budget_period_id: budget_period.id).try(:amount)

      - if budget_limit_amount.to_i > 0
        - percentage = total_price.to_i * 100 / budget_limit_amount.to_i
        .progress-radial{class: "progress-#{(percentage / 5).to_i * 5}"}
          .overlay
            = succeed '%' do
              = percentage

      .label.label-success.budget_limit
        = money_without_cents_and_with_symbol budget_limit_amount
      %br

    .label.label-primary.big_total_price
      = money_without_cents_and_with_symbol total_price
