:ruby
  opened_menu = if %w{requests templates}.include? controller.controller_name
      if @user and @user == current_user
        :request
      else
        :inspect
      end
    else
    :admin
  end

%ul.sidebar-nav#leftMenu{style: 'margin-top: 1em'}
  - if is_procurement_admin?
    %li
      %a{"data-parent" => "#leftMenu", "data-toggle" => "collapse", :href => "#collapse_admin"}
        %i.fa.fa-gear
        = _('Admin')
      %ul#collapse_admin.collapse{class: opened_menu == :admin ? 'in' : nil}
        %li
          %a{href: budget_periods_path, class: request.path == budget_periods_path ? "active" : nil}
            %i.fa.fa-calendar
            = _('Budget periods')
            - unless Procurement::BudgetPeriod.current
              %i.fa.fa-warning.text-danger
        %li
          %a{href: organizations_path, class: request.path == organizations_path ? "active" : nil}
            %i.fa.fa-sitemap
            = _('Organizations')
            - unless Procurement::Organization.exists?
              %i.fa.fa-warning.text-danger
        %li
          %a{href: groups_path, class: request.path == groups_path ? "active" : nil}
            %i.fa.fa-object-group
            = _('Groups')
            - unless Procurement::Group.exists?
              %i.fa.fa-warning.text-danger
        %li
          %a{href: users_path, class: request.path == users_path ? "active" : nil}
            %i.fa.fa-user
            = _('Users')
            - if Procurement::Access.admins.empty? or Procurement::Access.requesters.empty?
              %i.fa.fa-warning.text-danger

  - if is_procurement_requester?
    %li
      %a{href: overview_user_requests_path(current_user), class: opened_menu == :request ? "active" : nil}
        %i.fa.fa-tasks
        = _('My requests')
        =#FIXME :in_inspection# render partial: 'layouts/procurement/counts', locals: {user: current_user}

  - if Procurement::Group.inspector_of_any_group_or_admin?(current_user)
    %li
      - b = controller.action_name == 'filter_overview'
      %a{href: filter_overview_requests_path, class: b ? "active" : nil}
        %i.fa.fa-eye
        = _('Inspection')
      - if b
        = render partial: 'procurement/requests/filter_panel'
