:ruby
  opened_menu = if %w{requests templates}.include? controller.controller_name
      if @user and @user == current_user
        :request
      else
        :inspect
      end
    else
    :admin
  end

%ul.sidebar-nav#leftMenu{style: 'margin-top: 1em'}
  - if is_procurement_admin?
    %li
      %a{"data-parent" => "#leftMenu", "data-toggle" => "collapse", :href => "#collapse_admin"}
        %i.fa.fa-gear
        = _('Admin')
      %ul#collapse_admin.collapse{class: opened_menu == :admin ? 'in' : nil}
        %li
          %a{href: budget_periods_path}
            = _('Budget periods')
            - unless Procurement::BudgetPeriod.current
              %i.fa.fa-warning.text-danger
        %li
          %a{href: organizations_path}
            = _('Organizations')
            - unless Procurement::Organization.exists?
              %i.fa.fa-warning.text-danger
        %li
          %a{href: groups_path}
            = _('Groups')
            - unless Procurement::Group.exists?
              %i.fa.fa-warning.text-danger
        %li
          %a{href: users_path}
            = _('Users')
            - if Procurement::Access.admins.empty? or Procurement::Access.requesters.empty?
              %i.fa.fa-warning.text-danger

  - if is_procurement_requester?
    %li
      %a{"data-parent" => "#leftMenu", "data-toggle" => "collapse", :href => "#collapse_request"}
        %i.fa.fa-edit
        = _('Requests')
      %ul#collapse_request.collapse{class: opened_menu == :request ? 'in' : nil}
        %li
          %a{href: overview_user_requests_path(current_user)}
            = _('My requests')
            =#FIXME :in_inspection# render partial: 'layouts/procurement/counts', locals: {user: current_user}

  - if Procurement::GroupInspector.where(user_id: current_user).exists?
    %li
      %a{"data-parent" => "#leftMenu", "data-toggle" => "collapse", :href => "#collapse_inspect"}
        %i.fa.fa-eye
        = _('Inspect')
      %ul#collapse_inspect.collapse{class: opened_menu == :inspect ? 'in' : nil}
        - Procurement::Group.all.partition{|group| group.inspectable_by?(current_user)}.flatten.each do |group|
          %li
            %div{style: 'color: lightgrey'}
              = group
            %ul{style: 'padding-left: 0.5em'}
              %li
                %a{href: overview_group_requests_path(group)}
                  = _('Requests')
                  = render partial: 'layouts/procurement/counts', locals: {group: group}
              - if group.inspectable_by?(current_user)
                %li
                  %a{href: group_templates_path(group)}
                    = _('Templates')
                    .label.label-default= group.templates.count
