%ul.sidebar-nav
  %li
    .h4{style: 'color: lightgrey'}
      Admin user:
  %li
    %a{href: budget_periods_path}= _('Budget periods')
  %li
    %a{href: groups_path}= _('Groups')
  %li
    %a{href: '#'}= _('Requesters TODO')
  %li
    %hr
  %li
    .h4{style: 'color: lightgrey'}
      Requester user:
  %li
    %a{href: user_requests_path(current_user, budget_period: :current)}
      = _('My current requests')
      = render partial: 'layouts/procurement/counts', locals: {counts: Procurement::Request.status_counts(Procurement::BudgetPeriod.current, user: current_user)}
  %li
    %a{href: user_requests_path(current_user, budget_period: :past)}= _('My past requests')
  %li
    %hr
  %li
    .h4{style: 'color: lightgrey'}
      Inspector user:
  %li
    %a{href: requests_path(budget_period: :current)}
      = _('Current requests')
      = render partial: 'layouts/procurement/counts', locals: {counts: Procurement::Request.status_counts(Procurement::BudgetPeriod.current)}
  %li
    %a{href: requests_path(budget_period: :past)}= _('Past requests')

  .text-center
    %hr
    %i.fa.fa-globe{style: 'color: white'}
    - active_language = Language.find_by_locale_name(I18n.locale)
    - Language.active_languages.each do |language|
      %br
      - if language == active_language
        %strong{style: 'color: white'}= language.name
      - else
        %a{:href => @bread_crumbs ? @bread_crumbs.path_for(url_for(params.merge(:locale => language.locale_name))) : url_for(params.merge(:locale => language.locale_name))}= language.name
