%ul.sidebar-nav
  %li
    .h4{style: 'color: lightgrey'}
      Admin user:
  %li
    %a{href: budget_periods_path}
      = _('Budget periods')
      - unless Procurement::BudgetPeriod.current
        %i.fa.fa-warning.text-danger

  %li
    %a{href: organizations_path}
      = _('Organizations')
      - unless Procurement::Organization.exists?
        %i.fa.fa-warning.text-danger

  %li
    %a{href: groups_path}
      = _('Groups')
      - unless Procurement::Group.exists?
        %i.fa.fa-warning.text-danger
  %li
    %a{href: users_path}
      = _('Users')
      - if Procurement::Access.admins.empty? or Procurement::Access.requesters.empty?
        %i.fa.fa-warning.text-danger

  %li
    %hr
  %li
    .h4{style: 'color: lightgrey'}
      Requester user:
  %li
    %a{href: resume_user_requests_path(current_user, budget_period: :current)}
      = _('My current requests')
      = render partial: 'layouts/procurement/counts', locals: {counts: Procurement::Request.status_counts(Procurement::BudgetPeriod.current, user: current_user)}
  %li
    %a{href: resume_user_requests_path(current_user, budget_period: :past)}= _('My past requests')
  %li
    %hr
  - Procurement::Group.joins(:group_responsibles).where(procurement_group_responsibles: {user_id: current_user}).each do |group|
    %li
      .h4{style: 'color: lightgrey'}
        = group
    %li
      %a{href: resume_group_requests_path(group, budget_period: :current)}
        = _('Current requests')
        = render partial: 'layouts/procurement/counts', locals: {counts: Procurement::Request.status_counts(Procurement::BudgetPeriod.current, group: group)}
    %li
      %a{href: resume_group_requests_path(group, budget_period: :past)}= _('Past requests')
    %li
      %a{href: group_request_templates_path(group)}= _('RequestTemplates')

  .text-center
    %hr
    %i.fa.fa-globe{style: 'color: white'}
    - active_language = Language.find_by_locale_name(I18n.locale)
    - Language.active_languages.each do |language|
      %br
      - if language == active_language
        %strong{style: 'color: white'}= language.name
      - else
        %a{:href => @bread_crumbs ? @bread_crumbs.path_for(url_for(params.merge(:locale => language.locale_name))) : url_for(params.merge(:locale => language.locale_name))}= language.name
