%ul.sidebar-nav{style: 'margin-top: 1em'}
  - if is_procurement_admin?
    %li
      .h4{style: 'color: lightgrey'}
        Admin
    %li
      %a{href: budget_periods_path}
        = _('Budget periods')
        - unless Procurement::BudgetPeriod.current
          %i.fa.fa-warning.text-danger
    %li
      %a{href: organizations_path}
        = _('Organizations')
        - unless Procurement::Organization.exists?
          %i.fa.fa-warning.text-danger
    %li
      %a{href: groups_path}
        = _('Groups')
        - unless Procurement::Group.exists?
          %i.fa.fa-warning.text-danger
    %li
      %a{href: users_path}
        = _('Users')
        - if Procurement::Access.admins.empty? or Procurement::Access.requesters.empty?
          %i.fa.fa-warning.text-danger

  - if is_procurement_requester?
    %li
      %hr
    %li
      .h4{style: 'color: lightgrey'}
        Request
    %li
      %a{href: resume_user_requests_path(current_user)}
        = _('My requests')
        =#FIXME :in_inspection# render partial: 'layouts/procurement/counts', locals: {user: current_user}

  - Procurement::Group.joins(:group_inspectors).where(procurement_group_inspectors: {user_id: current_user}).each do |group|
    %li
      %hr
    %li
      .h4{style: 'color: lightgrey'}
        = group
    %li
      %a{href: resume_group_requests_path(group)}
        = _('Requests')
        = render partial: 'layouts/procurement/counts', locals: {group: group}
    %li
      %a{href: group_request_templates_path(group)}
        = _('RequestTemplates')
        .label.label-default= group.request_templates.count

  .text-center
    %hr
    %i.fa.fa-globe{style: 'color: white'}
    - active_language = Language.find_by_locale_name(I18n.locale)
    - Language.active_languages.each do |language|
      %br
      - if language == active_language
        %strong{style: 'color: white'}= language.name
      - else
        %a{:href => @bread_crumbs ? @bread_crumbs.path_for(url_for(params.merge(:locale => language.locale_name))) : url_for(params.merge(:locale => language.locale_name))}= language.name
