.panel{class: "panel-#{header_color(@budget_period)}"}
  .panel-heading
    .row
      .col-sm-2.h4
        %i.fa.fa-calendar
        = @budget_period
      .col-sm-6
        = render partial: 'procurement/budget_periods/phases', locals: {budget_period: @budget_period}
      .col-sm-4

  .panel-body
    .panel-group(id="accordion")
      - @template_categories.each do |template_category|
        .panel.panel-info
          .panel-heading(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_#{template_category.id}")
            = template_category
          .list-group(id="collapse_#{template_category.id}" class="panel-collapse collapse")
            - template_category.templates.each do |template|
              %a.list-group-item.show_template{href: group_budget_period_user_requests_path(template_category.group_id, @budget_period, @user, template_id: template.id)}
                = template
